{% load static  %}
<!DOCTYPE HTML>
<html>
<head>
<title>Resort Booking Form Responsive Widget Template :: w3layouts</title>
<!-- Meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Booking Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta tags -->
<!-- font-awesome-icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<!-- Stylesheet -->
<link href="{% static 'css/style_hotel_booking.css' %}" rel='stylesheet' type='text/css' />
<!-- //Stylesheet -->
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">
<!--//fonts--> 
</head>
<body>
<!--background-->

<h1> Book Here</h1>
    <div class="bg-agile">
	<div class="book-appointment">
	{% comment %} <h2>Booking Now</h2> {% endcomment %}
						<div class="book-form agileits-login">
							<form action="hotel_booking" method="post" >
								{% csrf_token %}
								<div class="agileits_reservation_grid">
								 <div class="phone_email">
									<div class="form-text">
										<i class="fa fa-user" aria-hidden="true"></i>
										<input autocomplete="off" type="text" name="first_name" placeholder="First name" required="">
									</div> 
								</div>
								<div class="phone_email phone_email1">
									<div class="form-text">
										<i class="fa fa-user" aria-hidden="true"></i>
										<input autocomplete="off" type="text" name="last_name" placeholder="Last name" required="">
									</div>
								</div>
								
								<div class="phone_email">
									<div class="form-text">
										<i class="fa fa-phone" aria-hidden="true"></i>
										<input autocomplete="off" type="text" name="number" placeholder="Phone number" required="">
									</div> 
								</div> 
								<div class="phone_email phone_email1">
									<div class="form-text">
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<input autocomplete="off" type="email" name="email" placeholder="Email" required="">
									</div>
								</div>
									
								
									<div class="span1_of_1 phone_email1">
										<div class="book_date"> 
											<i class="fa fa-calendar" aria-hidden="true"></i>
												<input autocomplete="off" id="datepicker" name="out" type="text" value="" placeholder="Check-out"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">

										</div>					
									</div>
									<div class="span1_of_1 phone_email">
										<div class="book_date"> 
											<i class="fa fa-calendar" aria-hidden="true"></i>
												<input autocomplete="off" id="datepicker1" name="in" type="text" value="" placeholder="Check-in"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">

										</div>					
									</div>
									<div class="span1_of_1">
										<!-- start_section_room -->
										<div class="section_room">
											<i class="fa fa-users" aria-hidden="true"></i>
											<input autocomplete="off" type="text" name="number_of_guests" placeholder="No. of guests" required="">
										</div>	
									</div>
									<div class="span1_of_1 phone_email1">
										<!-- start_section_room -->
										<div class="section_room">
											<i class="fa fa-h-square" aria-hidden="true"></i>
											<input autocomplete="off" type="text" name="room_type" placeholder="Room Type" required="">
										</div>	
									</div>
									<div class="clear"></div>

									<div class="phone_email">
									<div class="form-text">
										<i class="fa fa-user" aria-hidden="true"></i>
										<input autocomplete="off" type="text" name="hotel_name" placeholder="Hotel name" required="">
									</div> 
								</div>

								</div> 
								<input type="submit" value="Book Now">
								<div class="clear"></div>
								<div style = "color:white; text-align: center;">
									{% for message in messages %}
										<h3> {{message}}</h3>
									{% endfor %}
								</div>
							</form>
						</div>

		</div>
   </div>

		<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<!-- Calendar -->
				<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
				<script src="{% static 'js/jquery-ui.js' %}"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->

</body>
</html>